/*-- Fonts --*/
@import url('https://fonts.googleapis.com/css?family=Patua+One');

/*-- HTML and Body --*/
html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('beach.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*-- Header --*/
#limitless {
    font-family: 'Patua One', cursive;
    font-size: 30px;
}

/*-- Map and Filter --*/
.find {
    text-align: center;
    background-color: #fafafa;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 25px;
}

#map {
    min-height: 500px;
}

.radio-buttons {
    margin-right: 5px;
}