/*-- Fonts --*/
@import url('https://fonts.googleapis.com/css?family=Patua+One');

/*-- HTML and Body --*/
html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('beach.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*-- Header --*/
#limitless {
    font-family: 'Patua One', cursive;
    font-size: 30px;
}

/*-- Map and Filter --*/
.find {
    text-align: center;
    background-color: #fafafa;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 25px;
}

#map {
    min-height: 500px;
}

.form-filter {
    margin-top: 10px;
    margin-bottom: -15px;
}

.radio-buttons {
    margin-right: 5px;
}

/*-- Search Results --*/
.hint-statement {
    margin-top: 15px;
    text-align: center;
}

.hint-box {
    background-color: #fafafa;
    margin-top: 20px;
    margin-bottom: 20px;
}

#place-details {
    margin-right: 15px;
}

#url {
    font-weight: bold;
    font-size: 18px;
}

.detail-list {
    margin-top: 20px;
    list-style-type: none;
}

.detail-name {
    font-weight: bold;
    font-size: 14px;
}

/*-- Footer --*/
footer {
    width: 100%;
    min-height: 120px;
    margin: 0;
}

#connect {
    color: #fafafa;
    margin-top: 20px;
    font-weight: 600;
}

i {
    color: #fafafa;
}

.social {
    margin-left: 10px;
    margin-right: 10px;
}

#copyright {
    color: #fafafa;
    margin-top: 5px;
}

.github {
    margin-left: 10px
}

/*-- Media Queries --*/
/*-- Nexus 10 --*/
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    footer {
        position: fixed;
        bottom: 0;
    }
    
    #map {
        min-height: 650px;
    }
    
    #limitless {
        font-size: 50px;
    }
}

/*-- iPad Pro --*/
/*-- Portrait --*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    #map {
        min-height: 760px;
    }
    
    #limitless {
        font-size: 60px;
    }
    
    #connect {
        font-size: 40px;
    }
    
    .fa {
        font-size: 2em;
    }
    
    #copyright {
        font-size: 20px;
    }
}

/*-- Landscape --*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    #map {
        min-height: 600px;
    }
    
    #limitless {
        font-size: 50px;
    }
    
    #connect {
        font-size: 30px;
    }
    
    .fa {
        font-size: 20px;
    }
    
    #copyright {
        font-size: 20px;
    }
}